<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand">Your Favorite NoteApp</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-nav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="my-nav">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/home" class="btn btn-simple">Dashboard</a>
      </li>
      <li>
        <a routerLink="/notes" class="btn btn-simple">View Your Notes
          <span class="cart badge"></span>
        </a>
      </li>
      <li>
        <a routerLink="" class="btn btn-simple">Log out</a>
      </li>
    </ul>
  </div>

</nav>

<div>
  <h2>Create a new note</h2>
</div>

<div class="alert alert-success">
  <h4>
    Please do the follwoing before creating the note
  </h4>
</div>


<div *ngIf="success!=null && success!=''" class="alert alert-success" role="alert">
  <strong>{{success}}</strong>
</div>
<div *ngIf="err!=null && err!=''" class="alert alert-danger" role="alert">
  <strong>{{err}}</strong>
</div>


<div layout-align="center center">
<form class="example-form">

  <mat-form-field class="example-full-width ">
    <input name="subject.subject" [(ngModel)]="subject.subject" matInput placeholder="Subject" #title maxlength="50">
    <!-- <mat-hint align="end">{{subject.value.length}} / 50</mat-hint> -->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput name="note.question" [(ngModel)]="note.question" placeholder="Enter your question here"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput matTextareaAutosize name="note.answer" [(ngModel)]="note.answer" placeholder="Enter your answer here"></textarea>
  </mat-form-field>
  <span>Created on: {{dateCreated | date:"MM-dd-yyyy"}}</span>

  <br>
  <br>
  <div class="form-group">
    <button mat-button (click)="addNew()">Add New</button>
    <button mat-button class="btn btn-primary" type="submit" (click)="done()">Done</button>
  </div>

</form>

</div>



<!-- <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Subject is required.">
      <form [formGroup]="subjectFormGroup">
        <ng-template matStepLabel>Enter your subject title</ng-template>
        <mat-form-field>
          <input matInput placeholder="Subject" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Accessibility is required.">
      <form [formGroup]="accessFormGroup">
        <ng-template matStepLabel>Who can view this note ?</ng-template>
        <mat-form-field>
          <input matInput placeholder="" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper> -->