<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Your Favorite NoteApp</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="my-nav">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login" class="btn btn-simple">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="btn btn-simple">Register</a>
        </li>
      </ul>
    </div>

  </div>
</nav>


<div class="col-md-12">
  <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
      <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="registerForm" (ngSubmit)="onLogin()">

          <mat-form-field appearance="fill" class="example-full-width form-group">
            <mat-label>Username</mat-label>
            <input formControlName="username" id="username" matInput type="text" placeholder="Enter a unique username">
            <div *ngIf="registerForm.controls.username.dirty && registerForm.controls.username.errors">
              <div class="text-danger">Username cannot have numbers</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width ">
            <mat-label>Email</mat-label>
            <input formControlName="email" id="email" matInput placeholder="Enter your secret email" type="email">
            <div *ngIf="registerForm.controls.email.dirty && registerForm.controls.email.errors">
              <div class="text-danger">Enter a valid email</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width ">
            <mat-label>Password</mat-label>
            <input formControlName="password" id="password" matInput placeholder="Enter an awesome unhackable your password" type="password"
              id="password">
            <div *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.errors">
              <div class="text-danger">password must must at least 6 characters</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width ">
            <mat-label>Re-enter Password</mat-label>
            <input formControlName="confirmPassword" id="confirmPassword" matInput placeholder="Enter an awesome unhackable your password"
              type="password" id="confirmPassword" validateEqual="user.password">
            <div *ngIf="registerForm.controls.confirmPassword.dirty && registerForm.controls.password.value != registerForm.controls.confirmPassword.value">
              <div class="text-danger">Passwords do not match!!</div>
            </div>
          </mat-form-field>

          <div class="form-group">
            <button [disabled]="!registerForm.valid" class="btn btn-info" type="submit">Register</button>
            <button [disabled]="registerForm.pristine" class="btn btn-change" type="reset">Reset</button>
          </div>

        </form>
        <h5>{{successMessage}}</h5>
        <h5>{{errorMessage}}</h5>
      </div>
    </div>
  </div>
</div>




<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <div class="panel panel-secondary">
        <div class="panel-heading"><h3>Register</h3></div>
        <div class="panel-body">

          <form #loginForm="ngForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label>Username</mat-label>
              <input required name="user.id" [(ngModel)]="user.name" matInput type="text" placeholder="Enter a unique username">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label>Email</mat-label>
              <input required name="user.email" [(ngModel)]="user.email" matInput placeholder="Enter your secret email" type="text">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label>Password</mat-label>
              <input required name="user.password" [(ngModel)]="user.password" matInput placeholder="Enter an awesome unhackable your password" type="password">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label>Re-enter Password</mat-label>
              <input required name="user.password" [(ngModel)]="user.password" matInput placeholder="Enter an awesome unhackable your password" type="password">
            </mat-form-field> -->

<!-- <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label></mat-label>
              <input required name="user.password" [(ngModel)]="user.password" matInput placeholder="Enter an awesome unhackable your password" type="password">
            </mat-form-field> -->

<!-- <div class="form-group">
              <button class="btn btn-change btn-md" type="submit">Register</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div> -->