<nav class="navbar navbar-inverse navbar-default">

  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand">Your Favorite NoteApp</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-nav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="my-nav">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/login" class="btn btn-simple">Login</a>
      </li>
      <!-- create these -->
      <li>
        <a routerLink="/register" class="btn btn-simple">Register</a>
      </li>
      <!-- create these -->
      <li>
        <a routerLink="/search" class="btn btn-simple">Looking for something ?</a>
      </li>
    </ul>
  </div>

</nav>


<div class="col-md-12">
  <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
      <div class="panel-heading">
        <h3 class="panel-title">Log In</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <mat-form-field appearance="fill" class="example-full-width ">
            <mat-label>Username</mat-label>
            <input formControlName="username" id="username" matInput type="text" placeholder="Enter a unique username">
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width ">
            <mat-label>Password</mat-label>
            <input formControlName="password" id="password" matInput type="password" placeholder="Enter your password">
          </mat-form-field>

          <div class="form-group">
            <button class="btn btn-primary btn-md" type="submit">Log in</button>
          </div>

        </form>
        <div *ngIf="logging">
          <h5>Please wait.....</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <div class="panel panel-secodary">
        <div class="panel-heading">
          <h3>Login</h3>
        </div>
        <div class="panel-body">

          <form #loginForm="ngForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label>Username</mat-label>
              <input required name="user.username" [(ngModel)]="user.username" matInput placeholder="Enter your username" type="text">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width ">
              <mat-label>Password</mat-label>
              <input required name="user.password" [(ngModel)]="user.password" matInput placeholder="Enter your password" type="password">
            </mat-form-field>

            <div class="form-group">
              <button class="btn btn-primary" type="submit">Log in</button>
            </div>

          </form>

        </div>
        <!--Body ends here-->
<!-- </div>-->
<!--panel ends here-->
<!-- </div>
  </div>
</div> -->